<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437536599618-40g7oir8gt944n62qpcsms3mebqer46s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437536599618-40g7oir8gt944n62qpcsms3mebqer46s</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Y0UfUB7bYu35MEV8qZT83sOajwu36mI</string>
	<key>GCM_SENDER_ID</key>
	<string>437536599618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anishapareek.Reading-List-App-Mine</string>
	<key>PROJECT_ID</key>
	<string>reading-list-app-mine</string>
	<key>STORAGE_BUCKET</key>
	<string>reading-list-app-mine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437536599618:ios:b057edcd4db2167eccc7db</string>
</dict>
</plist>